body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  overflow: hidden;
  font-family: 'Open Sans', Arial, sans-serif;
}

a, a:visited {
  color: blue;
  text-decoration: underline
}

#app {
  width: 100%;
  height: 100%;
}

.box-overflow{
  overflow-y: auto;
}

.page-num{
  margin-right: 0px;
  bottom: 0px;
  position:absolute;
  right : 2vw;
  font-style: oblique;
  font-size: 4vh;
  color: rgb(107, 109, 109);
}

.page-header{
  top: 0px;
  margin: 0;
  padding: 0;
  position:absolute;
  font-style: oblique;
  right: 0;
  margin-right: 2vw;
  font-size: 3vh;
  z-index: 10;
}

.page-footer{
  bottom: 0px;
  margin: 0;
  padding: 0;
  position:absolute;
  font-style: oblique;
  right: 0;
  margin-right: 2vw;
  font-size: 3vh;
}

code {
  max-height: 80vh;
  overflow: auto; /* Optional: Add scrollbars if content exceeds the height */
}
pre code.hljs {
  padding: 0.5em !important;
}


.presenter-time {
  margin-left: 0px;
  bottom: 0px;
  position:absolute;
  left : 51vw;
  padding-top: 1vh;
  padding-right: 1vh;
  color: rgb(107, 109, 109);
  font-size: 12vh;
  background-color: bisque;
  z-index: 1000;
}

.presenter-current-time {
  margin-left: 0px;
  bottom: 0vh;
  position:absolute;
  right : 51vw;
  padding-top: 1vh;
  padding-right: 1vh;
  color: rgb(107, 109, 109);
  font-size: 12vh;
  background-color: bisque;
  z-index: 1000;
}

.presenter-comment {
  margin-right: 0px;
  top: 0px;
  position:absolute;
  right : 5px;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  color: rgb(107, 109, 109);
  font-size: 5vh;
  background-color: bisque;
  z-index: 1000;
}

.menu{
  margin-right: 0px;
  top: 0px;
  position:absolute;
  right : 0;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  color: rgb(0, 0, 0);
  font-size: 3.5vh;
  background-color: #00ADD8;
  z-index: 1000;
  overflow-y: auto !important;
  height: 100%;
}

.menu-hidden {
  display: none;
}

p {
  margin-block-start: 1vh;
  margin-block-end: 1vh;
}
pre {
  margin-block-start: 1vh;
  margin-block-end: 1vh;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
.slide-data {
  height: 100vh;
  width: 96vw;
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: 2vw;
  margin-right: 2vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, pre {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

hr {
  border: none;
  height: 0.2vh;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  /* Modern Browsers */
  margin: 0;
  margin-bottom: 2vh;
}

.d2 {
  width: 100%;
  height: 100%;
}

.run2 {
  display: inline-block;
  background-color: antiquewhite;
  font-size: 4vh;
  font-family: cursive;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  cursor: pointer;
  border-color: black;
  border-width: 2px;
  border: 2px solid black;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.run {
  display: inline-block;
  font-size: 7vh;
  font-family: cursive;
  cursor: pointer;
}

.closed {
 display: none;
}

.terminal {
  margin-right: 1vw;
  bottom: 1vh;
  position:absolute;
  right : 2vw;
  color: rgb(214, 84, 48);
  background-color: rgb(253, 246, 227);
  min-width: 17ch !important;
  min-height: 6ch !important;
  max-height: 80vh;
  width: max-content;
  min-width: calc(15ch + env(screen-min-width));
  max-width: 92vw;
  padding: 15px;
  border-radius: 20px;
  border-color: black;
  border-width: 2px;
  font-family: 'Consolas';
  font-style: normal;
  font-size: 6vh;
  border:3px solid black;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 10;
}

.rotating-icon {
  animation: rotate2 2s infinite linear; /* Rotate for 3 seconds infinitely */
}

ul {
  margin-block-start: 1vh;
  margin-block-end: 1vh;
}

@keyframes rotate2 {
  from {
    transform: rotate(0deg); /* Start from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End at 360 degrees (full rotation) */
  }
}

.tablinks {
  font-size: 3.5vh;
  border-left: 2px solid rgb(190, 190, 190) !important;
  border-top: 2px solid rgb(190, 190, 190) !important;
  border-right: 2px solid rgb(190, 190, 190) !important;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  color: black;
  background-color: #fdf6e3;
  text-align: center;
  cursor: pointer;
}

.tab {
  display: flex;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: monospace;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  transition: 0.3s;
  margin-left: 0.5vw;
}
.tabs pre {
  margin-block-start: 0;
}
.hidden-tab {
  display: none;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #F3F3F3;
}

pre > svg {
  max-width: 94vw!important;
  max-height: 94vh!important;
}

@media print {
  html, body {
  }
  body {
    overflow: hidden; /* Hide scrollbar */
  }
  @page {
    size: landscape;
  }
  head, title, a[href]:after {
      display: none;
  }
  .page-break {
    page-break-after: always;
  }
  .hidden {
    overflow: hidden;
  }
  .run {
    display: none;
  }
  .page-not-print-visible{
    display: none;
  }
  .menu {
    display: none;
  }
  .presenter-current-time {
    display: none;
  }
  .presenter-time {
    display: none;
  }
  .presenter-comment {
    display: none;
  }
}

@media screen {
  .hidden {
    height: 0px;
    max-height: 0;
    margin: 0;
  }
  .page-not-print-visible{
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1vh;
  height: 1vh;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #93999d;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 3vh;
  height: 3vh;
}
/* scrollbar end */
